frontend/.parcel-cache/d4832523f09359f4-RequestGraph
frontend/.parcel-cache/data.mdb
frontend/.parcel-cache/e3937dbaf2c614a8-AssetGraph
frontend/.parcel-cache/lock.mdb
frontend/.parcel-cache/snapshot-d4832523f09359f4.txt
frontend/3
frontend/concurrently
frontend/frontend@1.0.0
frontend/parcel
frontend/.parcel-cache/b1352565147d4272-BundleGraph
frontend/.parcel-cache/b1352565147d4272-BundleGraph
